<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Web桌面</title>
		<link rel="stylesheet" href="../dist/css/bootstrap-theme.css">
		<link rel="stylesheet" href="../dist/css/bootstrap.css">
		<link rel="stylesheet" href="../dist/css/order.css" type="text/css">		
		<script type="text/javascript" src="../dist/js/jquery.min.js"></script>
		<script type="text/javascript" src="../dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="../dist/js/Data.js"></script>
		<script type="text/javascript" src="../dist/js/template.js"></script>
		<script type="text/javascript" src="../dist/js/orderManageMassage.js"></script>
	</head>

	<body>

		<div class="manage">
			<div class="manage-tools">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="javascript:;">前台管理</a>
					</li>
					<li role="presentation">
						<a href="javascript:;">收银明细</a>
					</li>
					<li role="presentation">
						<a href="javascript:;">基础资料</a>
					</li>
					<li role="presentation">
						<a href="javascript:;">业绩报表</a>
					</li>
				</ul>
			</div>
			<div id="container-box">

				
			</div>
			
			<div class="manage-footer "></div>
		</div>

	</body>

</html>